<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 自动扫描包 ,将带有注解的类 纳入spring容器管理 -->
    <context:component-scan base-package="com.wangsd"/>

    <!-- 引入属性文件 -->
    <!--<context:property-placeholder location="classpath*:config.properties" />-->
    <!--
        使用这种方式引入属性文件，可以在catalina.sh里面配置环境变量：
        JAVA_OPTS="$JAVA_OPTS -Djsuws.config.path=/home/app/jsuws/application.properties -Dlogback.configurationFile=/home/app/jsuws/logback.xm"
        可以使用工程以外的properties
     -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="order" value="1"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath*:config.properties</value>
                <!--<value>file:${jsuws.config.path}</value>-->
            </list>
        </property>
    </bean>

    <!--<bean id="springContextUtils" class="com.wangsd.common.util.SpringContextUtils" lazy-init="false"></bean>-->

</beans>
